.banner-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
 
  color: #1E1E1E;
}


.banner-left img{

  height: 72vh;
  object-fit: cover; /* ✅ remplit sans déformer */
  object-position: center;
}

/* Partie basse : infos */
.banner-info {
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.03);
}

.banner-info h1 {
  font-size: 2rem; /* avant 1.5rem */
  font-weight: 700;
  margin: 0;
}

.banner-info h2 {
  font-size: 1.25rem; /* avant 1rem */
  font-weight: 500;
  margin: 0.25rem 0;
}

.banner-info .slogan {
  font-size: 1rem; /* avant 0.875rem */
  font-weight: 400;
  color: #464b48;
  margin-bottom: 1.25rem;
}

.banner-info .contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.banner-info .contact a {
  color: #3B82F6;
  text-decoration: none;
  font-size: 1rem;
}

/* Desktop */
@media(min-width: 768px) {
  .banner-left {
    width: 20vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
  }

  .banner-top {
    height: 20vh;
  }

  .banner-info {
    height: calc(100vh - 25vh);
    border-radius: 0;
    padding: 2.5rem;
   
  }

  .banner-info h1 {
    font-size: 2.25rem;
    text-shadow: 2px 2px 4px rgba(153, 153, 153, 0.3);
  }

  .banner-info h2 {
    font-size: 1.35rem;
    text-shadow: 2px 2px 4px rgba(153, 153, 153, 0.3);
  }

  .banner-info .slogan {
    font-size: 1.05rem;
    text-shadow: 2px 2px 4px rgba(153, 153, 153, 0.3);
  }
}